.order-bkg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #272727;
    z-index: 10000000;
}
.order-container {
    width: 100vw;
    height: 100vh;
}

.items-container {
    background: #fff;
    min-width: 250px;
    max-width: 300px;
    min-height: 400px;
    font-size: 20px;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 20PX;
}

.card-title {
    margin: 10px 0px;
    text-decoration: underline;
    text-align: center;
}

.order-data {
    margin: 5px 0px;
}

.main-order-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,2fr);
    grid-row: 1fr;
}

.order-main-title {
    font-size: 40px;
    color: #cdaa7c;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-main-title button {
    margin-right: 20px;
}

.container-for-orders {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-container span {
    font-weight: 500;
}










