.cart-btn-container {
    position: relative;
}

.cart-quantity {
    position: absolute;
    bottom: -10px;
    right: -3px;
    font-size: 20px;
    background: #f04040;
    color: #fff;
    padding: 0px 6px;
    border-radius: 50%;
}

.navbar button {
    cursor: pointer;
    font-size: 1.7rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
    background: #333;
    border: .1rem solid transparent;
    border-radius: 20px;
}

header .navbar button.active,
header .navbar button:hover {
  color: #fff;
  border: .1rem solid rgba(205, 170, 124, 0.2);
}

.hungry-container {
    z-index: 1000;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hungry-img {
    background: url('./img/hungry-anime.gif') no-repeat center / cover;
    /* height: 700px;
    width: auto; */
    height: 500px;
    width: 500px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

.hungry-text {
    margin-bottom: 15px;
    font-size: 50px;
    color: #c13333;
}

.hungry-text-2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #c13333;
}

