.cart-btn-container {
    position: relative;
}

.cart-quantity {
    position: absolute;
    bottom: -10px;
    right: -3px;
    font-size: 20px;
    background: #f04040;
    color: #fff;
    padding: 0px 6px;
    border-radius: 50%;
}


