.about-main-container {
    width: 100vw;
    height: 100vh;
    background: #1b1b1b;
}

.about-title {
    text-align: center;
    font-size: 40px;
    color: #cdaa7c;
    padding: 10px;
}

.staff-pic img {
    width: 200px;
    height: 200px;
    border-radius: 34% 66% 70% 30% / 30% 30% 70% 70% ;
}

.staff-pic {
    width: 205px;
    height: 205px;
    margin-right: 20px;
    border-radius: 34% 66% 70% 30% / 30% 30% 70% 70% ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(59,36,5);
    background: linear-gradient(43deg, rgba(59,36,5,1) 0%, rgba(131,86,27,1) 40%, rgba(205,170,124,1) 100%);
}

.staff-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    padding: 20px;
    /* max-width: 400px; */
}

.staff-container p {
    font-size: 20px;
    color: #fff;
}

.staff-container span {
    color: #cdaa7c;
}

@media (max-width: 600px) {
    .staff-pic {
        width: 150px;
        height: 150px;
    }

    .staff-pic img {
        width: 140px;
        height: 140px;
    }
}














